.appContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.readyMessage {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--accent-blue);
}